{% load static %}

<section id="about" class="about" data-aos="fade-up">
  <div class="container">
    <div class="section-header">
      <h2>About Us</h2>
      <p>Learn More <span>About Us</span></p>
    </div>

    <div class="row gy-4 align-items-center">
      <div class="col-lg-6">
        <div class="position-relative">
          <img src="{% static 'assets/img/church/skyview.webp' %}" class="img-fluid" alt="church-01">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="content ps-0 ps-lg-4">
          <p><b>Saint Alphonsa Syro-Malabar Catholic Church, Coppell</b> started in the year 2007 
          as an outstation unit to cater to the Syro-Malabar community of the neighboring cities, 
          around Dallas. Initially, the Holy Eucharist was celebrated at Saint Anne’s Church, Coppell 
          and later The Syro Malabar diocese of Chicago approved this as the Syro Malabar Catholic 
          Mission DFW. After being elevated to the status of a mission, the community was blessed 
          to have it’s own Church in 2009 located at 200 S. Heartz Road, Coppell.</p>
        </div>
      </div>
    </div>

    <div class="row gy-4 align-items-center mt-3 mt-md-0">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="content ps-0">
          <p>Saint Alphonsa Church Coppell was established on Oct. 12, 2009, which coincided with the 
          canonization of Saint Alphonsa – our patroness. In the beginning, we had 150 families as 
          active members of this Parish community. Fr. Saji Chakkittamuriyil, the then Director of 
          the mission blessed the Church and commenced the liturgical celebrations. In the month of 
          March 2010, the mission was erected as a Parish and Fr. Varghese Naikkamparampil was 
          appointed as the first Vicar of the parish.</p>
        </div>
      </div>

      <div class="col-lg-6 order-1 order-lg-2">
        <div class="position-relative">
          <img src="{% static 'assets/img/church/inside.webp' %}" class="img-fluid" alt="church-02">
        </div>
      </div>
    </div>

    <div class="row gy-4 align-items-center mt-3 mt-md-0">
      <div class="col-lg-6">
        <div class="position-relative">
          <img src="{% static 'assets/img/church/outside.webp' %}" class="img-fluid" alt="church-03">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="content ps-0 ps-lg-4">
          <p>Over the years, the community grew spiritually as well as in numbers. Within the past couple 
          of years, there has been substantial increase in the number of faithful attending the liturgical 
          services. To accommodate the growing needs, the Church was expanded in 2014 under the leadership 
          of the Vicar Fr. Johnsty Thachara. The community has now grown into 700 plus registered families.</p>
        </div>
      </div>
    </div>
  </div>
</section>
