{% load static %}

<section id="about" class="about" data-aos="fade-up">
  <div class="container">
    <div class="section-header">
      <h2>About Us</h2>
      <p>Learn More <span>About Us</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-5 position-relative about-img"
        style="background-image: url('{% static 'assets/img/church.png' %}')">
        <div class="call-us position-absolute">
          <h4>Reserve Auditorium</h4>
          <p>(817) 975-6742</p>
        </div>
      </div>

      <div class="col-lg-7 d-flex align-items-end">
        <div class="content ps-0 ps-lg-5">
          <p><b>Saint Alphonsa Syro-Malabar Catholic Church, Coppell</b> started in the year 2007
          as an outstation of Saint Thomas Church Garland, to cater to the Syro-Malabar community of the neighboring
          cities. Initially, the Holy Eucharist was celebrated at Saint Anne’s Church, Coppell, by Fr. Zacharias
          Thottuvelil. Later in September 2008, the community celebrations relocated to Christ our Savior Lutheran
          Church located at 140 S. Heartz Rd, Coppell. The Syro Malabar diocese of Chicago approved this as the Syro
          Malabar Catholic Mission DFW and appointed Fr. Saji Chakkittamuriyil as the first Director. After being
          elevated to the status of a mission, the community moved to a larger leased facility in Farmers branch,
          Texas. Eventually, in 2009, the community was blessed to have it’s own Church located at 200 S. Heartz
          Road, Coppell.</p>

          <!-- <ul>
            <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul> -->

          <p>Saint Alphonsa Church Coppell, was established on Oct. 12, 2009, which coincided with the canonization
          of Saint Alphonsa – our patroness. In the beginning, we had 150 families as active members of this Parish
          community. Fr. Saji Chakkittamuriyil, the then Director of the mission blessed the Church and commenced
          the liturgical celebrations.  In the month of March 2010, the mission was erected as a Parish and the
          Church was consecrated by Mar Jacob Angadiath, the Bishop of Syro Malabar Catholic Diocese of Chicago.
          Fr. Varghese Naikkamparampil was appointed as the first Vicar of the parish.</p>
          <p>Over the years, the community grew spiritually as well as in numbers. Within the past couple of years,
          there has been substantial increase in the number of faithful attending the liturgical services. The community
          grew to include 350 plus registered families. To accommodate these growing needs, the Church was expanded in
          2014 under the able leadership of Fr. Johnsty Thachara, the Vicar. We have added 200 new parking lots. The
          renovated Church was consecrated and dedicated by Mar George Cardinal Alencherry, the Major Archbishop of Syro
          Malabar Church. A beautifully designed Chapel was blessed in April 2015, by Mar Joy Alapatt, the Auxiliary
          Bishop of the Syro Malabar Catholic Diocese of Chicago.</p>

          <div class="position-relative mt-4">
            <img src="{% static 'assets/img/church.png' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=vhezFhRX8oY" class="glightbox play-btn"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
