{% load static %}

<style type="text/css">
  .announcements .icon-box {
    padding: 0;
    background-color: #eee;
    border-radius: 8px;
  }
  .announcements .icon-box .card-body {
    padding: 1.5rem;
  }
  .announcements .icon-box .card-body .card-img {
    height: 225px;
  }
  .announcements .icon-box h4 {
    margin-bottom: 20px;
    color: #d9232d;
    font-size: 18px;
    font-weight: 700;
  }
  .announcements .icon-box p {
    margin-bottom: 0.5rem;
    color: #000;
    font-size: 14px;
  }
  .announcements .icon-box p:last-child {
    margin-bottom: 0;
  }
  .announcements .icon-box a {
    color: #d9232d;
    font-weight: 800;
  }
</style>

<section id="announcements" class="announcements">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Announcements</h2>
      <p>News &amp; <span>Events</span></p>
    </div>

    <div class="row gy-3">
      {% for announcement in announcements %}

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card w-100 h-100 icon-box">
          <div class="card-body">
            <div class="card-img mb-4 text-center">
              {% if announcement.announcement_files %}
              <img src="{{ announcement.announcement_files.url }}" class="card-img-top w-50 h-100" alt="{{ announcement.announcement_files }}">
              {% else %}
              <img src="{% static 'assets/img/logo/logo-sta.png' %}" class="card-img-top w-50 h-100" alt="ph-announcements-events">
              {% endif %}
            </div>

            <h4 class="card-title">{{ announcement.message }}</h4>
            <p class="card-text">{{ announcement.detail|safe }}</p>
          </div>
        </div>
      </div>

      {% endfor %}
      {% for event in events %}

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card w-100 h-100 icon-box">
          <div class="card-body">
            <div class="card-img mb-4 text-center">
              {% if event.cover_image %}
              <img src="{{ event.cover_image.url }}" class="card-img-top w-50 h-100" alt="{{ event.cover_image }}">
              {% else %}
              <img src="{% static 'assets/img/logo/logo-sta.png' %}" class="card-img-top w-50 h-100" alt="ph-announcements-events">
              {% endif %}
            </div>

            <h4 class="card-title">{{ event.title }}</h4>
            <p class="card-text">{{ event.description }}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
