{% load static %}

<style type="text/css">
  .announcements .icon-box {
    /*padding: 30px;
    background-color: #eee;*/
    border-radius: 8px;
  }
  .announcements .icon-box h4 {
    margin-bottom: 25px;
    color: #d9232d;
    font-size: 18px;
    font-weight: 700;
  }
  .announcements .icon-box p {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 14px;
  }
  .announcements .icon-box p:last-child {
    margin-bottom: 0;
  }
  .announcements .icon-box a {
    color: #fff;
    font-weight: 800;
  }

  .container_foto {
    /*margin: 5px;
    padding: 0;
    max-width: 350px;*/
    position: relative;
    overflow: hidden;
    background-color: rgba(57, 62, 93, 0.99);
  }
  .container_foto article {
    padding: 30px;
    position: relative;
    /*bottom: 0;*/
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container_foto h2 {
    margin-bottom: 22px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-bottom: #fff solid 1px;
  }
  .container_foto h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  }
  .container_foto img.flyer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
  }

  .container_foto:hover {
    cursor: pointer;
  }
  .container_foto:hover img.flyer {
    opacity: 0.1;
    transform: scale(1.5);
  }

  /*--------------------------------------------------------------
  # Services Cards Section
  --------------------------------------------------------------*/
  .servicesss-cards {
    background: #f7f9fc;
  }
  .servicesss-cards .card-item {
    border: 1px solid rgba(27, 47, 69, 0.1);
    background: #fff;
    position: relative;
    border-radius: 0;
  }
  .servicesss-cards .card-item .card-bg {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .servicesss-cards .card-item .card-body {
    padding: 30px;
  }
  .servicesss-cards .card-item h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color-secondary);
  }
  .servicesss-cards .card-item p {
    color: var(--color-secondary);
    margin: 0;
  }
</style>

<section id="announcements" class="announcements">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Announcements</h2>
      <p>News &amp; <span>Events</span></p>
    </div>

    <div class="row gy-3">
      {% for announcement in announcements %}

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="container_foto icon-box h-100">
          <article class="text-left">
            <h2>{{ announcement.message }}</h2>
            <p>{{ announcement.detail|safe }}</p>

            {% if announcement.announcement_files %}
            <div class="mt-3">
              <a href="{{ announcement.announcement_files.url }}" target="_blank">FLYER</a>
            </div>
            {% endif %}
          </article>

          {% if announcement.announcement_files %}
          <img class="flyer" src="{{ announcement.announcement_files.url }}" alt="{{ announcement.announcement_files }}">
          {% else %}
          <img class="flyer" src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
