<style type="text/css">
  .services .icon-box {
    padding: 30px;
    background-color: #eee;
    border-radius: 8px;
  }
  .services .icon-box h4 {
    margin-bottom: 25px;
    color: #d9232d;
    font-size: 18px;
    font-weight: 700;
  }
  .services .icon-box p {
    margin-bottom: 0.5rem;
    font-size: 14px;
  }
</style>

<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Contacts</h2>
      <p>Important <span>Contacts</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="icon-box h-100">
          <h4>Secretary</h4>
          <p>George Thomas</p>
          <p>(816) 529-5052</p>
          <p>secretary@saintalphonsachurch.org</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box h-100">
          <h4>Accountant</h4>
          <p>Shaji Mathew</p>
          <p>(540) 609-4906</p>
          <p>accountant@saintalphonsachurch.org</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box h-100">
          <h4>CCD Coordinators</h4>
          <p>Shijo Joseph (469) 999-6629</p>
          <p>Lisa Jom (469) 720-5566</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icon-box h-100">
          <h4>Youth Coordinators</h4>
          <p>John Devasia (339) 235-9057</p>
          <p>Teema Cyriac (201) 218-9426</p>
          <p>Chris George</p>
          <p>Jyothis Benny (469) 667-0091</p>
        </div>
      </div>
    </div>
  </div>
</section>
