{% load crispy_forms_tags %}

<style type="text/css">
  .contact .php-email-form {
    margin-top: 0;
    padding: 25px;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 0;
  }
  .contact .php-email-form label {
    font-size: 0.9rem;
  }
  .contact .php-email-form span.asteriskField {
    color: var(--color-primary);
  }
  .contact .php-email-form input[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 14px 60px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .contact .php-email-form input[type=submit]:hover {
    background: #ec2727;
  }
</style>

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Contact</h2>
      <p>Need Help? <span>Contact Us</span></p>
    </div>

    <div class="row gx-2">
      <div class="col-lg-4 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-map flex-shrink-0"></i>
          <div>
            <h3>Location</h3>
            <p>200 S Heartz Rd, Coppell, TX 75019</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email Us</h3>
            <p>secretary@saintalphonsachurch.org</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Call Us</h3>
            <p>(469) 240-0006</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row gx-3 h-100">
      <div class="col-lg-6">
        <iframe
          src="https://maps.google.com/maps?q=st%20alphonsa%20catholic%20churchcoppell&t=&z=13&ie=UTF8&iwloc=&output=embed"
          class="mb-3 mb-lg-0 w-100 h-100 border-0"
          frameborder="0"
          allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <form action="{% url 'e-contact-us' %}" method="post" role="form" class="php-email-form"
          data-recaptcha-site-key="6LeMzyspAAAAAMsAkjUaFK_9XgUH4Jqw_X4QS7_G">
          {% crispy contact_form %}
        </form>
      </div>
    </div>
  </div>
</section>
