{% load crispy_forms_tags %}

<style type="text/css">
  .contact .php-email-form {
    margin-top: 0;
    padding: 30px;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 0;
  }
</style>

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Contact</h2>
      <p>Need Help? <span>Contact Us</span></p>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-map flex-shrink-0"></i>
          <div>
            <h3>Location</h3>
            <p>200 S Heartz Rd, Coppell, TX 75019</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email Us</h3>
            <p>secretary@saintalphonsachurch.org</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-3">
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Call Us</h3>
            <p>(469) 240-0006</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <iframe
          src="https://maps.google.com/maps?q=st%20alphonsa%20catholic%20churchcoppell&t=&z=13&ie=UTF8&iwloc=&output=embed"
          class="mb-3 mb-lg-0"
          style="border:0; width:100%; height:378px;"
          frameborder="0"
          allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea name="message" class="form-control" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>

        <!--
        <form method="post" role="form" class="php-email-form">
          {% crispy form %}

          <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Send</button>
          </div>
        </form>
        -->
      </div>
    </div>
  </div>
</section>
