<style type="text/css">
  .why-us .icon-box i {
    margin-bottom: 15px;
  }
  .why-us .icon-box h4 {
    margin-bottom: 15px;
  }
</style>

<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="why-box">
          <h3>Donate Online</h3>
          <p>If you wish to make donations, you can now do it through our online portal.</p>
          <div class="text-center">
            <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbdZ2tLousaA1-xQ5fAui0oNX7sm9wYZo2onRxYng5iCQvEEUgbepsAG1d1O5A7L11AVGst7mt29sxJuzYd74TEQ=&ver=3" class="more-btn" target="_blank">
              Donate Now <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 d-flex align-items-center">
        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-clipboard-data"></i>
          <h4>Donating for the first time?</h4>
          <p>Check this <a href="https://drive.google.com/file/d/1wCiX9jEpkiZLSLEPswZ6hE2f9YnGjCio/view" target="_blank">Instruction Guide</a>
            on how to register and make online payment using Checking/Savings or Credit Card</p>
        </div>
      </div>
    </div>
  </div>
</section>
