{% load static %}

<section id="faith-formation" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Faith Formation</h2>
      <p>What Are They <span>Saying About Us</span></p>
    </div>

    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    You&apos;re invited to be a part of our St. Alphonsa Young Adult Ministry, convening 
                    every month. We meet at 7 PM on the first Sunday in the Media Room, unless there 
                    are specific changes. Our sessions involve prayer and discussions, followed by a 
                    light meal. We&apos;re excited to welcome you!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Young Adults</h3>
                  <h4>CEO &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The Youth Choir extends an invitation to children in grades 3 through 9, encouraging
                    them to participate in singing and praising the Lord. They have the opportunity to
                    lead the music at the 11:00 am Mass and at other special occasions, such as the
                    Christmas Eve Mass and First Eucharist Masses.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Youth Choir</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Religious Education is to support you in your child&apos;s faith formation journey. 
                    These classes are designed for school-age children (Pre-K through 12th Grade). Contact 
                    CCD office or Parish office for further information.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>CCD</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The Cherupushpa Mission League (LFML) is a children&apos;s lay organization dedicated to 
                    Jesus Christ&apos;s missionary work. It encourages applying religious education knowledge, 
                    with St. Theresa of Lisieux as its patron, aiding missions nationwide through prayers, 
                    time, and resources to nurture missionary spirit and support missionaries.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>LFML</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The Legion of Mary is devoted to glorifying God through the holiness of its members,
                    fostered by prayer and active participation in Mary&apos;s and the Church&apos;s work.
                    Prioritizing spiritual and social well-being, members visit families, the sick, and
                    engage in parish-sponsored apostolic and missionary efforts, demonstrating their
                    dedication to community service.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Legion of Mary</h3>
                  <h4>CEO &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The Women&apos;s Forum is a ministry dedicated to young women, focusing on nurturing
                    and enhancing their talents while fostering mutual support in realizing their potential
                    through active involvement in church activities.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Women&apos;s Forum</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The Society of St. Vincent de Paul, founded in 1833 by Blessed Frederic Ozanam, is a 
                    global Catholic organization comprising men and women of all ages. Dedicated to aiding 
                    the less fortunate, it operates in 150 countries with approximately one million 
                    volunteers. Named after its patron saint, St. Vincent de Paul, the organization 
                    collaborates with compassionate individuals worldwide, providing assistance to those in 
                    need without discrimination, recognizing the face of Jesus in every person.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>SVDP Society</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Volunteers of the Rosary Ministry are scheduled to participate before and after the 
                    Sunday Mass at 9:00 am. Absolutely, this is a wonderful chance to lead and pray the 
                    Rosary with family members. As Pope John Paul II said, &ldquo;How beautiful is the 
                    family that recites the Rosary every evening.&rdquo; It not only strengthens the 
                    family bond but also deepens spiritual connections.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>St. Alphonsa Rosary Ministry</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2 text-center">
                <img src="{% static 'yummy/assets/img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img" alt="">
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
