{% load static %}

<section id="faith-formation" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Faith Formation</h2>
      <p>Cherish your life in <span>Faith</span></p>
    </div>

    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    You&apos;re invited to be a part of our St. Alphonsa Young Adult Ministry, convening 
                    every month. We meet at 7 pm on the first Sunday in the Media Room, unless there 
                    are specific changes. Our sessions involve prayer and discussions, followed by a 
                    light meal. We&apos;re excited to welcome you!
                  </p>
                  <h3>Young Adults</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    The Youth Choir extends an invitation to children in grades 3 through 9, encouraging
                    them to participate in singing and praising the Lord. They have the opportunity to
                    lead the music at the 11 am Mass and at other special occasions, such as the
                    Christmas Eve Mass and First Eucharist Masses.
                  </p>
                  <h3>Youth Choir</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    Religious Education is to support you in your child&apos;s faith formation journey. 
                    These classes are designed for school-age children (Pre-K through 12th Grade). Contact 
                    CCD office or Parish office for further information.
                  </p>
                  <h3>CCD</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    The Cherupushpa Mission League (LFML) is a children&apos;s lay organization dedicated to 
                    Jesus Christ&apos;s missionary work. It encourages applying religious education knowledge, 
                    with St. Theresa of Lisieux as its patron, aiding missions nationwide through prayers, 
                    time, and resources to nurture missionary spirit and support missionaries.
                  </p>
                  <h3>LFML</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    The Legion of Mary is devoted to glorifying God through the holiness of its members,
                    fostered by prayer and active participation in Mary&apos;s and the Church&apos;s work.
                    Prioritizing spiritual and social well-being, members visit families, the sick, and
                    engage in parish-sponsored apostolic and missionary efforts, demonstrating their
                    dedication to community service.
                  </p>
                  <h3>Legion of Mary</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    The Women&apos;s Forum is a ministry dedicated to young women, focusing on nurturing
                    and enhancing their talents while fostering mutual support in realizing their potential
                    through active involvement in church activities.
                  </p>
                  <h3>Women&apos;s Forum</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    The Society of St. Vincent de Paul, founded in 1833 by Blessed Frederic Ozanam, is a 
                    global Catholic organization comprising men and women of all ages. Dedicated to aiding 
                    the less fortunate, it operates in 150 countries with approximately one million 
                    volunteers. Named after its patron saint, St. Vincent de Paul, the organization 
                    collaborates with compassionate individuals worldwide, providing assistance to those in 
                    need without discrimination, recognizing the face of Jesus in every person.
                  </p>
                  <h3>SVDP Society</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    Volunteers of the Rosary Ministry are scheduled to participate before and after the 
                    Sunday Mass at 9 am. Absolutely, this is a wonderful chance to lead and pray the 
                    Rosary with family members. As Pope John Paul II said, &ldquo;How beautiful is the 
                    family that recites the Rosary every evening.&rdquo; It not only strengthens the 
                    family bond but also deepens spiritual connections.
                  </p>
                  <h3>St. Alphonsa Rosary Ministry</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
