<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>
            200 S Heartz Rd<br>
            Coppell, TX 75019<br>
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> (469) 240-0006<br>
            <strong>Email:</strong> secretary@saintalphonsachurch.org<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="https://www.facebook.com/StAlphonsaChurchCoppell/">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.youtube.com/channel/UChF81fl7xPJWdWzx3Wgu0Lw">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Saint Alphonsa Catholic Church</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>
