<section id="gallery" class="gallery section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Photo Gallery</h2>
      <p><span>Thirunal 2023</span></p>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <!-- <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1CuokAKBK1lNXeNMMKChPcGaZnDq7d6CG">
            <img src="https://drive.google.com/uc?export=view&id=1CuokAKBK1lNXeNMMKChPcGaZnDq7d6CG" class="img-fluid" alt="thirunal-2023">
          </a>
        </div> -->
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1M1xWWMeHPQCjlpoYiC1HtmhaBjnLb4fw">
            <img src="https://drive.google.com/uc?export=view&id=1M1xWWMeHPQCjlpoYiC1HtmhaBjnLb4fw" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <!-- <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1NalYnWDgOoNz05omQqoJfRs4sgQWA_zu">
            <img src="https://drive.google.com/uc?export=view&id=1NalYnWDgOoNz05omQqoJfRs4sgQWA_zu" class="img-fluid" alt="thirunal-2023">
          </a>
        </div> -->
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1ZgB9lYdOoaFEpTd4a-D5W5q6w6R0LnH7">
            <img src="https://drive.google.com/uc?export=view&id=1ZgB9lYdOoaFEpTd4a-D5W5q6w6R0LnH7" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1j_p3Gv8G8S1feX8oOMawE_mYElJzz2Ug">
            <img src="https://drive.google.com/uc?export=view&id=1j_p3Gv8G8S1feX8oOMawE_mYElJzz2Ug" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1sCF1ey4cE19wY8iVneNJmNsGwU5o5_qa">
            <img src="https://drive.google.com/uc?export=view&id=1sCF1ey4cE19wY8iVneNJmNsGwU5o5_qa" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>

        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1-0cfyGKPX5o4M4tQp95cCps9RWnwwSvg">
            <img src="https://drive.google.com/uc?export=view&id=1-0cfyGKPX5o4M4tQp95cCps9RWnwwSvg" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=11T-YZdtECiXK3TD6sJwhq0gzcNus45Wx">
            <img src="https://drive.google.com/uc?export=view&id=11T-YZdtECiXK3TD6sJwhq0gzcNus45Wx" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=14njxET6RVJba4gaqcE2F3EfFUhPUS7ba">
            <img src="https://drive.google.com/uc?export=view&id=14njxET6RVJba4gaqcE2F3EfFUhPUS7ba" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=15cSd9VNydMNip7yfJsyFtoJUZMQPeFHs">
            <img src="https://drive.google.com/uc?export=view&id=15cSd9VNydMNip7yfJsyFtoJUZMQPeFHs" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=16S5t4TI8zqz4e_4OJIkKhx7WC7tyA1Km">
            <img src="https://drive.google.com/uc?export=view&id=16S5t4TI8zqz4e_4OJIkKhx7WC7tyA1Km" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=18Q1aEWuBcwz05Xm3z0AuQ5doTPYdKwyj">
            <img src="https://drive.google.com/uc?export=view&id=18Q1aEWuBcwz05Xm3z0AuQ5doTPYdKwyj" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1CKDnKmcaal9kVKZA_PU4Nj2tSndPH_cG">
            <img src="https://drive.google.com/uc?export=view&id=1CKDnKmcaal9kVKZA_PU4Nj2tSndPH_cG" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1DzzjHO7XPcsWN_VR5QKKEeTnXIPTt8lz">
            <img src="https://drive.google.com/uc?export=view&id=1DzzjHO7XPcsWN_VR5QKKEeTnXIPTt8lz" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1LnsUIIZdMTiQnzK8tEPx--Vv6cOh9Cln">
            <img src="https://drive.google.com/uc?export=view&id=1LnsUIIZdMTiQnzK8tEPx--Vv6cOh9Cln" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1WwEhVa-R6P7fyCs2kkvAgWv-_ylcnqi-">
            <img src="https://drive.google.com/uc?export=view&id=1WwEhVa-R6P7fyCs2kkvAgWv-_ylcnqi-" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1erU_UEcjpnzP5zz0oUVe3FgmfziSy8g6">
            <img src="https://drive.google.com/uc?export=view&id=1erU_UEcjpnzP5zz0oUVe3FgmfziSy8g6" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1fqMTUpHIAkeWRvNdy_VYG3Nlxs9GAq35">
            <img src="https://drive.google.com/uc?export=view&id=1fqMTUpHIAkeWRvNdy_VYG3Nlxs9GAq35" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
        <div class="swiper-slide">
          <a class="glightbox" data-gallery="images-gallery" href="https://drive.google.com/uc?export=view&id=1lDgit2tkRZR3WGu87GBB4qnGS7LNZgaf">
            <img src="https://drive.google.com/uc?export=view&id=1lDgit2tkRZR3WGu87GBB4qnGS7LNZgaf" class="img-fluid" alt="thirunal-2023">
          </a>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
