<section id="gallery" class="gallery section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Photo Gallery</h2>
      <p><span>{{ latestAlbum.title }} {{ latestAlbum.start_date.year }}</span></p>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        {% for photo in latestAlbumPhotos %}

        <div class="swiper-slide">
          <img src="{{ photo }}" class="img-fluid" alt="{{ latestAlbum.slug }}-{{ latestAlbum.start_date.year }}">
        </div>

        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
