<style type="text/css">
  .header {
    height: 70px;
  }
  .header .logo h1 {
    font-size: 19px;
  }

  #sta-navbar .dropdown-toggle::after {
    margin-left: 0.25em;
    border: 0;
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1>Saint Alphonsa<br>Catholic Church</h1>
    </a>

    <nav id="sta-navbar" class="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li class="dropdown">
          <a href="#about">
            <span>About</span> 
            <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li><a href="#features">Mass Timings</a></li>
            <li><a href="#chefs">Administration</a></li>
          </ul>
        </li>
        <li><a href="#why-us">Donate</a></li>
        <li><a href="#announcements">News &amp; Events</a></li>
        <li class="dropdown">
          <a href="#faith-formation">
            <span>Faith Formation</span> 
            <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li><a href="#">Young Adults</a></li>
            <li><a href="#">Youth Choir</a></li>
            <li><a href="#">CCD</a></li>
            <li><a href="#">LFML</a></li>
            <li><a href="#">Legion of Mary</a></li>
            <li><a href="#">Women&apos;s Forum</a></li>
            <li><a href="#">SVDP Society</a></li>
            <li><a href="#">St. Alphonsa Rosary Ministry</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">
            <span>Downloads</span> 
            <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li>
              <a href="https://drive.google.com/file/d/1Lyimz4zsZYPuSN1AvUmAar3p5N6mfveq/view?usp=sharing"
                target="_blank">CCD Registration</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1yp0TMFyV3URXvrEOgnp4kmgZnLqbRTwJ/view?usp=sharing"
                target="_blank">Church Membership</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1Ihnxc-kNJ3MZz2MLGazhLbqGDX6i8_dd/view?usp=sharing"
                target="_blank">Stewardship</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1R9vaJnvIDwap0ywptlK1LkQbRXHO-fRd/view?usp=sharing"
                target="_blank">Baptism Application</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/18bIvC6E0adDJlVU2zBQkQy7jTnkkrHrY/view?usp=sharing"
                target="_blank">Baptism Certificate Request</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1DdBvA63aXl-tTJbrFbHzeAdphdTn9mVK/view?usp=sharing"
                target="_blank">Marriage Registration Request</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1wnnPGvGrsgXYKgKcDoHdtnxV7s3OJusn/view?usp=sharing"
                target="_blank">Church Facility Registration</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1g9DWs82kit5puV4v4RKOpXNVZfFA50qe/view?usp=sharing"
                target="_blank">Altar Server Form</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1PMFON4gzdu9yT0CnsjXqelx1_z3bjlFv/view?usp=sharing"
                target="_blank">Mass Intention Form</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1j0U82zlsoJkhJh_jhG8vvtyiWFM8nTiC/view?usp=sharing"
                target="_blank">Usher Application</a>
            </li>
          </ul>
        </li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
