<style type="text/css">
  .features .icon-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
  }
  .features .icon-box h4 {
    margin-bottom: 25px;
    color: #d9232d;
    font-size: 18px;
    font-weight: 700;
  }
  .features .icon-box p {
    margin-bottom: 0.5rem;
    font-size: 14px;
  }
</style>

<section id="features" class="features section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Timings</h2>
      <p><span>Mass Timings</span></p>
    </div>

    <div class="row gy-3">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="icon-box h-100">
          <h4>Sunday Holy Qurbana</h4>
          <p>{{ sundayMassMalayalam1.time|time:"h:i A" }} Solemn Holy Qurbana (Malayalam)</p>
          <p>{{ sundayMassMalayalam.time|time:"h:i A" }} Solemn Holy Qurbana (Malayalam)</p>
          <p>{{ sundayMassEnglish.time|time:"h:i A" }} Solemn Holy Qurbana (English)</p>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="icon-box h-100">
          <h4>Weekday Holy Qurbana</h4>
          <p><strong>Monday -Through- Saturday:</strong></p>
          <p>7:30 AM Adoration</p>
          <p>{{ weekdayMassMTWS.time|time:"h:i A" }} Holy Qurbana (Malayalam)</p>
          <p><strong>Monday -Through- Friday:</strong></p>
          <p>{{ weekdayMassTTH.time|time:"h:i A" }} Holy Qurbana (English). 
            <span class="fst-italic">Followed by Novena</span>
          </p>
          <P>First Friday of every month 7:00 PM Holy Qurbana will be in Malayalam & 24 Hours of Adoration</P>
          <P>Second Friday of every month 7:00 PM Holy Qurbana will be in English, Followed by adoration for Youth & Kids</P>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="icon-box h-100">
          <h4>Extension Holy Qurbana</h4>
          <p><strong>Every Saturday:</strong></p>
          <p>{{ weekdayExtMass.time|time:"h:i A" }} Holy Qurbana (Malayalam)</p>
          <p class="fst-italic">
            <span>at St. Francis of Assisi Catholic Church</span><br>
            <span>8000 Eldorado Pkwy, Frisco, TX 75033</span>
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="icon-box h-100">
          <p><strong>Monday -Through- Saturday:</strong></p>
          <h4>Confession</h4>
          <p>7:30 AM to 8:30 AM</p>
          <!--<p>{{ confession.time|time:"h:i A" }} Thursday and Friday</p>-->
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-4">
        <div class="icon-box h-100">
          <h4>Adoration</h4>
          <p class="description"><strong>Monday - Through - Saturday:</strong></p>
          <p>7:30 AM at chappel</p>
          <!--<p class="description">{{ adorationMTWS.time|time:"h:i A" }} At Chapel</p>
          <p class="description"><strong>Thursday - Friday:</strong></p>
          <p class="description">{{ adorationTHF.time|time:"h:i A" }} At Church</p>-->
        </div>
      </div>
    </div>
  </div>
</section>
