{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Saint Alphonsa Catholic Church</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'assets/img/favicon.ico' %}" rel="apple-touch-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">

    <link rel="stylesheet" href="{% static 'yummy/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'yummy/assets/css/media.css' %}">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TDS59V4TLV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-TDS59V4TLV');
    </script>
  </head>

  <body class="min-vh-100 d-flex flex-column">
    {% include 'church/yummy/header.html' %}

    <main id="main">
      <section id="gallery" class="gallery section-bg">
        <div class="container">
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="title-single-box">
                <h1 class="title-single">{{ album.title }}</h1>
                <span class="color-text-a">{{ album.start_date }} - {{ album.end_date }} T</span>
              </div>
            </div>
          </div>

          <div class="row gy-4 justify-content-center">
            {% for photo in photos %}

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="gallery-item">
                <img src="{{ photo }}" class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{{ photo }}" title="{{ album.start_date.year }} {{ album.title }}" class="glightbox preview-link">
                    <i class="bi bi-arrows-angle-expand"></i>
                  </a>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </section>
    </main>

    {% include 'church/yummy/footer.html' %}

    <script src="{% static 'yummy/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'yummy/assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'yummy/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'yummy/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'yummy/assets/js/main.js' %}"></script>
  </body>
</html>
