{% load static %}

<style type="text/css">
  .chefs .chef-member {
    width: 100%;
    text-align: left;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .chefs .chef-member .member-img {
    max-height: 305px;
  }
  .chefs .chef-member .member-img:after {
    background: none;
  }
  .chefs .chef-member .member-info {
    padding: 25px 15px;
    text-align: center;
  }
  .chefs .chef-member .member-info h4 {
    font-size: 18px;
  }
  .chefs .chef-member .member-info span {
    font-size: 16px;
  }
</style>

<section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Team</h2>
      <p>Meet <span>Our Administration</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/vicars/fr.-mathews-munjanath-v2.webp' %}" class="img-fluid"
              alt="Fr. Mathews Munjanath">
            <div class="social">
              <a href="tel:(602) 410-8843"><i class="bi bi-telephone-fill" title="(602) 410-8843"></i></a>
              <a href="mailto:vicar@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Fr. Mathews Munjanatt</h4>
            <span>Pastor/Vicar</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/vicars/frjimmy.webp' %}" class="img-fluid"
              alt="Fr. Jimmy Edakkalathur">
            <div class="social">
              <a href="tel:(630) 333-6270"><i class="bi bi-telephone-fill" title="(630) 333-6270"></i></a>
              <a href="mailto:vicar@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Fr. Jimmy Edakulathur</h4>
            <span>Asst: Pastor/Vicar</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/joshy.webp' %}" class="img-fluid"
              alt="Joshy Kuriakose">
            <div class="social">
              <a href="tel:(757) 746-6282"><i class="bi bi-telephone-fill" title="(757) 746-6282"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Joshy Kuriakose</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/renjit.webp' %}" class="img-fluid"
              alt="Renjit Thalakotoor">
            <div class="social">
              <a href="tel:(609) 933-7474"><i class="bi bi-telephone-fill" title="(609) 933-7474"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Renjit Thalakotoor</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/robinjacob.webp' %}" class="img-fluid"
              alt="Robin Jacob">
            <div class="social">
              <a href="tel:(404) 421-8534"><i class="bi bi-telephone-fill" title="(404) 421-8534"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Robin Jacob Chirayath</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/robin-Kurian.webp' %}" class="img-fluid"
              alt="Robin Kurian">
            <div class="social">
              <a href="tel:(214) 683-8432"><i class="bi bi-telephone-fill" title="(214) 683-8432"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Robin Kurian</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/sebastian.webp' %}" class="img-fluid"
              alt="Sebastian Paul">
            <div class="social">
              <a href="tel:(952) 250-5739"><i class="bi bi-telephone-fill" title="(952) 250-5739"></i></a>
              <a href="mailto:secretary@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sebastian Paul</h4>
            <span>Secretary</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/shaji-mathew.webp' %}" class="img-fluid"
              alt="Shaji Mathew">
            <div class="social">
              <a href="tel:5406094906"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:accountant@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Shaji Mathew</h4>
            <span>Accountant</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
