{% load static %}

<style type="text/css">
  .chefs .chef-member {
    width: 100%;
    text-align: left;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .chefs .chef-member .member-img {
    max-height: 305px;
  }
  .chefs .chef-member .member-img:after {
    background: none;
  }
  .chefs .chef-member .member-info {
    padding: 25px 15px;
    text-align: center;
  }
  .chefs .chef-member .member-info h4 {
    font-size: 18px;
  }
  .chefs .chef-member .member-info span {
    font-size: 16px;
  }
</style>

<section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Team</h2>
      <p>Meet <span>Our Administration</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/vicars/fr.-mathews-munjanath-v2.webp' %}" class="img-fluid"
              alt="Fr. Mathews Munjanath">
            <div class="social">
              <a href="tel:4692337483"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:vicar@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Fr. Mathews Munjanath</h4>
            <span>Pastor/Vicar</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/vicars/frjimmy.webp' %}" class="img-fluid"
              alt="Fr. Jimmy Edakkalathur">
            <div class="social">
              <a href="tel:4692337483"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:vicar@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Fr. Jimmy Edakulathur</h4>
            <span>Asst: Pastor/Vicar</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/a-v-thomas.webp' %}" class="img-fluid"
              alt="A V Thomas">
            <div class="social">
              <a href="tel:2145297717"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>A V Thomas</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/appachan-ouseph.webp' %}" class="img-fluid"
              alt="Appachan Ouseph">
            <div class="social">
              <a href="tel:9726025166"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Appachan Ouseph</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/siji-george.webp' %}" class="img-fluid"
              alt="Siji George">
            <div class="social">
              <a href="tel:4697717900"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Siji George</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/jaymon-joseph.webp' %}" class="img-fluid"
              alt="Jaymon Joseph">
            <div class="social">
              <a href="tel:4697717900"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:trustee@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Jaymon Joseph</h4>
            <span>Trustee</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/joseph-martin-vilangolil.webp' %}" class="img-fluid"
              alt="Joseph Martin Vilangolil">
            <div class="social">
              <a href="tel:2146849252"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:secretary@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Joseph Martin Vilangolil</h4>
            <span>Secretary</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="chef-member">
          <div class="member-img">
            <img src="{% static 'assets/img/administration/raju.webp' %}" class="img-fluid"
              alt="Raju">
            <div class="social">
              <a href="tel:5406094906"><i class="bi bi-telephone-fill"></i></a>
              <a href="mailto:accountant@saintalphonsachurch.org"><i class="bi bi-envelope-fill"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Raju</h4>
            <span>Accountant</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
