{% load static %}
{% load crispy_forms_tags %}

<style type="text/css">
  .book-a-table .php-email-form label {
    font-size: 0.9rem;
  }
  .book-a-table .php-email-form span.asteriskField {
    color: var(--color-primary);
  }
  .book-a-table .php-email-form input[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 14px 60px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .book-a-table .php-email-form input[type=submit]:hover {
    background: #ec2727;
  }
</style>

<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Reserve Auditorium</h2>
      <p>Plan <span>Your Next Event</span> With Us</p>
    </div>

    <div class="row g-0">
      <div class="col-lg-4" data-aos="zoom-out" data-aos-delay="200">
        <div class="position-relative">
          <img src="{% static 'assets/img/church/hall.webp' %}" class="img-fluid" alt="church-hall">
        </div>
      </div>

      <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
        <form action="{% url 'e-reserve-auditorium' %}" method="post" role="form" class="php-email-form"
          data-recaptcha-site-key="6LeMzyspAAAAAMsAkjUaFK_9XgUH4Jqw_X4QS7_G">
          {% crispy reserve_auditorium_form %}
        </form>
      </div>
    </div>
  </div>
</section>
