{% extends "church/base2.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Times</h2>
          </div>
          <div class="row">
            {% for time in times %}
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="/update-time/{{ time.id }}">
                    <h4>{{ time.title }}</h4>
                </a>
                </li>
              </ul>
            </div>
            {% endfor %}
            </div>
  
        </div>
      </section>
      <!-- End Features Section -->

    </main>
    {% endblock %}