{% extends "church/base2.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>

<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        {% load custom_tags %}
        <a href="{% anchor 'announcements' '' %}">
          <i class="bx bx-arrow-back"></i>
        </a>
        <a href="{% anchor 'announcements' '' %}">
          <h4>Back to Announcements</h4>
        </a>
      </div>

      {% for announcement in announcements %}
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <i class="bx bx-message-square-detail"></i>
        <h4>{{ announcement.message }}</h4>
        <p>{{ announcement.detail|safe }}</p>
      </div>

      {% if announcement.announcement_files %}
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <i class="bx bx-cloud-download"></i>
        <a href="{{ announcement.announcement_files.url }}" download>
          <p>{{ announcement.announcement_files }}</p>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  {% if request.user.is_superuser %}
  {% for announcement in announcements %}
  <div class="text-center">
    <a href="{% url 'update-announcement' pk=announcement.id %}" class="greenButton">Edit</a>
  </div>
  {% endfor %}
  {% endif %}
</main>
{% endblock %}
