{% load static %}

<!DOCTYPE html>

<html lang="en">
  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex">
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            {% if request.user.is_superuser %}
            <li>
              <div class="dropdown admin_dropdown">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle greenButton" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'alphonsa' %}">Manage</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

      {% block banner %}
      {% endblock %}

      {% if messages %}
      {% for message in messages %}
      <div id="messagediv" class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Subscribe to Emails</h4>

              <form action="{% url 'send-email' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email">
                <input type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
