{% extends "church/base2.html" %}
{% load static %}

{% block content %}
<script>
  var events = {{ events | safe }}

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: events
    });
    calendar.render();
  });
</script>

<br>
<br>

<main id="main">
  <section id="steps" class="steps section-bg">
    <div id="calendar"></div>
  </section>
</main>
{% endblock %}