{% extends "church/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>

<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p>Email or Call us by utilizing our information or the form below!</p>
      </div>
  
      <div class="row no-gutters justify-content-center" data-aos="fade-up">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>200 S Heartz Rd, Coppell, TX 75019</p>
            </div>

            <div class="email mt-4">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>secretary@saintalphonsachurch.org</p>
            </div>

            <div class="phone mt-4">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>(281) 904 - 6622</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.4764162981223!2d-96.99118812494204!3d32.96483037358571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c2948fb669847%3A0x4a110acfeb6faac1!2s200%20S%20Heartz%20Rd%2C%20Coppell%2C%20TX%2075019%2C%20USA!5e0!3m2!1sen!2sin!4v1694646259736!5m2!1sen!2sin" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <br>
              <style>
                .mapouter {
                  position: relative;
                  text-align: right;
                  height: 500px;
                  width: 600px;
                }
                .gmap_canvas {
                  overflow: hidden;
                  background: none!important;
                }
              </style>
              <a href="https://www.embedgooglemap.net"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section id="features" class="features">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Contacts</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>Vicar:</strong> </p>
                <p>Rev. Fr. Jacob Christy Parambukattil</p>
                <p>(281) 904-6622</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>Trustees:</strong></p>
                <p>Tom Francis (817) 975-6742</p>
                <p>Peter Thomas (214) 529-7717</p>
                <p>Sabu Sebastian (469) 771-7900</p>
                <p>Abraham P. Mathew (972) 602-5166</p>
                <p>trustee@saintalphonsachurch.org</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>Secretary:</strong> </p>
                <p>George Thomas</p>
                <p>(816) 529 - 5052</p>
                <p>secretary@saintalphonsachurch.org</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>Accountant:</strong></p>
                <p>Shaji</p>
                <p>(540) 609-4906</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>CCD Coordinators:</strong></p>
                <p>Shijo Joseph (469) 999-6629</p>
                <p>Lisa Jom (469) 720-5566</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>Youth Coordinators:</strong></p>
                <p>John Devasia (339) 235-9057</p>
                <p>Teema Cyriac (201) 218-9426</p>
                <p>Chris George</p>
                <p>Jyothis Benny (469) 667-0091</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show marginTop5" href="#">
                <p><strong>For Auditorium Rentals:</strong></p>
                <p>Tom Francis</p>
                <p>(817) 975-6742</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- <div style="justify-content: center; align-items: center;" data-aos="fade-right">
    <img style="height: 500px; width: 500px; justify-content: center;" src="{% static 'assets/img/Hall.jpg' %}" alt="">
  </div> -->

  <br>

  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Send us a Message</h2>
    </div>

    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Send</button>
      </div>
    </form>
  </div>

  <!-- <div class="row mt-5 justify-content-center" data-aos="fade-up">
    <div class="col-lg-10">
      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name"
              placeholder="Your Name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email"
              placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject"
            placeholder="Subject" data-rule="minlen:4"
            data-msg="Please enter at least 8 chars of subject" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required"
            data-msg="Please write something for us" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div> -->
</main>
{% endblock %}