{% extends "church/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<main id="main">  
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Email or Call us by utilizing our information or the form below!</p>
          </div>
  
          <div class="row no-gutters justify-content-center" data-aos="fade-up">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>200 S Heartz Rd, Coppell, TX 75019</p>
                </div>
  
                <div class="email mt-4">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>secretary@saintalphonsachurch.org</p>
                </div>
  
                <div class="phone mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>(630) 202-2989</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> -->
              <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=st%20alphonsa%20catholic%20church&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;}</style></div></div>
            </div>
  
          </div>
        </section>
          <br>

          <section id="features" class="features">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h2>Contacts</h2>
            </div>
            <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>Vicar:</strong> Rev. Fr. Jacob Christy Parambukattil</p>
                      <p>(281) 904-6622</p>
                </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>Trustees:</strong></p>
                      <p>C.V. George (214) 675-6433</p>
                      <p>Sajesh Augustine (908) 884-5489</p>
                      <p>Jaymon Joseph (817) 609-9295</p>
                      <p>Sijo Jose (412) 377-8689</p>
                </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>Secretary:</strong> Shelly Vadakekara</p>
                      <p>(214) 677-7261</p>
                      <p>secretary@saintalphonsachurch.org</p>
                </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>Accountant:</strong> Joshy Kuriakose</p>
                      <p>(757) 746-6282</p>
                </a>
                </li>
              </ul>
            </div>

            
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>CCD Coordinators:</strong></p>
                      <p>Ampili Jagan (972) 904-1601</p>
                      <p>Shijo Joseph (469) 999-6629</p>
                </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>Youth Coordinators:</strong></p>
                      <p>Seena Oliapurath (817) 395-2243</p>
                      <p>John Nellikkunnel (848) 391-0999</p>
                </a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show marginTop5" href="#">
                      <p><strong>For Auditorium Rentals:</strong> C.V. George</p>
                      <p>(214) 675-6433</p>
                </a>
                </li>
              </ul>
            </div>
            </div>
          </div>
          </section>
<!-- 
          <div style="justify-content: center; align-items: center;" data-aos="fade-right">
            <img style="height: 500px; width: 500px; justify-content: center;" src="{% static 'assets/img/Hall.jpg' %}" alt="">
          </div> -->

          <br>
          <div class="container">

            <div class="section-title" data-aos="fade-up">
              <h2>Send us a Message</h2>
            </div>

            <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Send</button>
          </form>

          </div>


  
          <!-- <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div> -->
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
    {% endblock %}