{% extends "church/base2.html" %}
{% load static %}
{% block content %}
<main id="main">
<br>
<br>

                      <section id="about" class="about">
                        <div class="container">
                  
                          <div class="row">
                            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                              <div class="section-title" data-aos="fade-up">
                                {% for reading in readings %}
                                <h2>Readings for {{ reading.date }}</h2>
                              </div>

                  
                              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-book"></i>
                                <h4>Reading 1</h4>
                                <p>{{ reading.reading_1_passage }}</p>
                              </div>

                              <div class="icon-box" data-aos="fade-up">
                                <i class="bx bx-book"></i>
                                <h4>Reading 2</h4>
                                <p>{{ reading.reading_2_passage }}</p>
                              </div>
                  
                              
                              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-book"></i>
                                <h4>Gospel</h4>
                                <p>{{ reading.gospel_passage }}</p>
                              </div>

                              {% endfor %}
                  
                            </div>
                          </div>
                  
                        </div>
                      </section><!-- End About Section -->
                      {% if request.user.is_superuser %}
                      {% for reading in readings %}
                      <div class="text-center"><a href="{% url 'update-reading' pk=reading.id %}" class="greenButton">Edit</a></div>
                      {% endfor %}
                      {% else %}
                      {% endif %}
    </main>
{% endblock %}