{% extends "church/base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<section class="MassTimes">
    <div>
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Services</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-clock"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="Times">
                <div class="TimeDetail">
                    <p>Weddings</p>
                    <p>Birthdays</p>
                    <p>Graduation</p>
                    <p>Cultural Programs</p>
                    <p>Conference</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}